@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-header {
    /* background-image: url("../public/texture2.jpg"); */
    background: url("../public/noise-lines.jpg") repeat-x 0 0;
    background-size: auto 100%;
}
.bg-cocktail {
    background-image: linear-gradient(rgb(249, 220, 166), rgb(255, 255, 255));
    /* url("../public/background1jpg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}
.detail ul li a,
footer ul li a {
    color: blue;
    cursor: pointer;
}
.ingredient li {
    border-bottom: 1px solid black;
}
.ingredient li p {
    min-width: 8rem;
}

.main {
    min-height: 100vh;
}
.bg_nav {
    background: url("../public/noise-lines.jpg") repeat-x 0 0;
    /* background-image: linear-gradient(rgb(255, 255, 255), rgb(198, 198, 198)); */
}
.swiper-wrapper {
    display: flex;
}
.cocktail_item {
    display: grid;
    height: 100vh;
    place-items: center;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}
.modal {
    position: fixed;
    /* margin: auto 0; */
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
}
.dropdown_list_basket,
.hide_part_user,
.hide_part_basket,
.dropdown_search_list,
.dropdown_filter_list,
.dropdown_list_user {
    display: none;
}
/* .dropdown::before {
    content: "";
    height: 2.5rem;
    width: 51px;
    position: absolute;
    top: 91px;
    right: 176px;
    background-color: transparent;
} */
.dropdown_user:focus,
.dropdown_user:hover .dropdown_list_user {
    /* transition: border-color 0.5 linear; */
    display: block;
}

.dropdown_user:focus .dropdown_list_user {
    display: block;
}
.dropdown_list_user ul li a {
    transition: background-color 0.2s linear;
}

.dropdown_basket:hover .dropdown_list_basket {
    display: block;
}
.dropdown_basket:hover .dropdown_list_user {
    display: block;
}

.dropdown_basket:hover .hide_part_basket {
    display: block;
}
.dropdown_user:hover .hide_part_user {
    display: block;
}
.dropdown_search:hover .dropdown_search_list {
    display: block;
}
.dropdown_filter:hover .dropdown_filter_list {
    display: block;
}
.dropdown_search:hover::before {
    content: "";
    height: 2.5rem;
    width: 100%;
    position: absolute;
    top: 100%;
    left: -15px;
    /* width: 50%; */
    background-color: transparent;
}
.dropdown_basket::before {
    content: "";
    height: 2.5rem;
    /* width: 50px; */
    position: absolute;
    top: 100%;
    left: 0;
    width: 50px;
    background-color: transparent;
}
/* .dropdown_basket:hover .dropdown_list_user { */
