@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

.bg-header {
    /* background-image: url("../public/texture2.jpg"); */
    background: url("../public/noise-lines.jpg") repeat-x 0 0;
    background-size: auto 100%;
}
.bg-cocktail {
    background-image: linear-gradient(rgb(249, 220, 166), rgb(255, 255, 255));
    /* url("../public/background1jpg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}
.detail ul li a,
footer ul li a {
    color: blue;
    cursor: pointer;
}
.ingredient li {
    border-bottom: 1px solid black;
}
.ingredient li p {
    min-width: 8rem;
}

.main {
    min-height: 100vh;
}
.bg_nav {
    background: url("../public/noise-lines.jpg") repeat-x 0 0;
    /* background-image: linear-gradient(rgb(255, 255, 255), rgb(198, 198, 198)); */
}
.swiper-wrapper {
    display: flex;
}
.cocktail_item {
    display: grid;
    height: 100vh;
    place-items: center;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}
.modal {
    position: fixed;
    /* margin: auto 0; */
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
}
.dropdown_list {
    display: none;
}
/* .dropdown::before {
    content: "";
    height: 2.5rem;
    width: 51px;
    position: absolute;
    top: 91px;
    right: 176px;
    background-color: transparent;
} */
.dropdown:focus,
.dropdown:hover .dropdown_list {
    display: block;
}
.dropdown:focus .dropdown_list {
    display: block;
}
.dropdown_list ul li a {
    transition: background-color 0.2s linear;
}
